extends layout
block head-content
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css')
    script(type='text/javascript', language='javascript', src='https://code.jquery.com/jquery-1.12.4.js')
    script(type='text/javascript', language='javascript', src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
    script.init(type='text/javascript').
        var data = JSON.parse('!{tableData}');
        var stage = '!{stage}';
        var id = '!{id}';
        $(document).ready(function () {
            var tablebody = ''
            $('#validatetickettxtbox').hide();
            $('#ticketbutton').hide();
            $('#noTicket').hide();
            $('#hasTicket').hide();
            $('#markused').hide();
            $('#markTicketSuccess').hide();
            $('#markTicketFailed').hide();
            $('#ticketisMark').hide();


            for (var property in data) {
                tablebody += '<tr><td>' + property + '</td><td>' + data[property]+ '</td></tr>'
            }

            $('#dataTable').html(tablebody);

            $('#home').on('click', function () {
                window.location = stage + '/';
            });

            $('#buyticket').on('click', function () {
                location.href = stage + '/buyticket/' + id;
            });

            $('#validateticket').on('click', function () {
                $('#validatetickettxtbox').show();

            });

            $('#validatetickettxtbox').on('click', function () {
                $('#ticketbutton').show();
            });

            $('#ticketbutton').on('click', function () {
                var ticket_id_value = $('#validatetickettxtbox').val()
                //location.href = stage + '/myevents/' + id + '/validateticket/'

                $.post(stage + '/myevents/' + id + '/validateticket/',
                    {
                        event_id: id,
                        ticket_id: ticket_id_value
                    },
                    function (data, status) {
                        $('#markTicketSuccess').hide();
                        $('#markTicketFailed').hide();
                        if(status == 'success') {
                            var ticket = JSON.parse(data);
                            if (ticket.user) {
                                $('#user').text("Ticket Owner is " + ticket.user);
                                $('#noTicket').hide();
                                $('#hasTicket').show();
                                if(ticket.used) {
                                    $('#markused').hide();
                                    $('#ticketisMark').show();
                                } else {
                                    $('#markused').show();
                                    $('#ticketisMark').hide();
                                }
                            } else {
                                $('#noTicket').show();
                                $('#hasTicket').hide();
                                $('#markused').hide();
                                $('#ticketisMark').hide();
                            }

                        } else {
                            alert("ERROR");
                        }
                   });
            });

            $('#markused').on('click', function () {
                var ticket_id_value = $('#validatetickettxtbox').val()
                $.post(stage + '/myevents/' + id + '/markticket',
                    {
                        event_id: id,
                        ticket_id: ticket_id_value
                    },
                    function (data, status) {
                        if (status == 'success') {
                            var result = data
                            if (result == true) {
                                $('#markTicketFailed').hide();
                                $('#markTicketSuccess').show();
                            } else {
                                $('#markTicketFailed').show();
                                $('#markTicketSuccess').hide();
                            }

                        } else {
                            alert("ERROR");
                        }
                    });

            });

            //alert(data[0]);
        });

block content
    .container
        h1.text-center Event
        hr
        button#home.btn Home
        table#dataTable.display(cellspacing='0', width='100%')
        if myevent != 'true'
            button#buyticket Buy Ticket!
            if purchaseSuccessful == 'true'
                h3.alert.alert-info Purchased Ticket! Your Ticket Number Is: #{ticket_id}
            else if purchaseSuccessful == 'false'
                h3.alert.alert-danger Purchase failed! Details: #{failureReason}
        else
            button#validateticket Validate Ticket
            input#validatetickettxtbox
            button#ticketbutton Check
            h3#noTicket.alert.alert-danger Ticket is not exists!
            h3#hasTicket.alert.alert-info
                span#user
            button#markused Mark as Used Ticket
            h3#markTicketSuccess.alert.alert-info Ticket mark as used!
            h3#markTicketFailed.alert.alert-danger Failed to mark Ticket as used!
            h3#ticketisMark.alert.alert-danger Ticket already used!