extends layout
block head-content
  -  var hello = "שלום " + message + "!"
  -  var intro = "נשמח לראותכם בחתונתנו"
  -  var details = "ביום שישי ה-15.6.18 ב'פיין קלאב'"
  -  var confirm = "הזמן לאישור הגעה חלף."
  -  var comments = "במקרים דחופים ניתן ליצור קשר עם המשפחות."
  script function checkform() {if (document.confirmation.adults.value == '#{press_here}') {alert('נא לציין מספר מבוגרים שמגיעים!\n(יש שם גם אפשרות של \"לא מגיעים\")'); return false}; return true;}

block content
  .container
    h3(dir='rtl')= hello
    br
    h4(dir='rtl')= intro
    h5(dir='rtl')= details
    br
    h5(dir='rtl')= confirm
    h6(dir='rtl')= comments
    br
    h4(dir='rtl' align='left') תודה, יהב ואורין
    h6(dir='rtl' align='left') משפחות אמסלם ומסד